Repository yasudakn/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

remove emoji
  lib/setup.py
  lib/streamlit/source_util.py
Due: none

exclude Description
  frontend/src/components/core/Sidebar/Sidebar.tsx
  frontend/src/components/core/Sidebar/SidebarNav.tsx
Due: prettier, typecheck, eslint

Added style to top image in sidebar
  frontend/src/components/core/Sidebar/Sidebar.tsx
Due: prettier, typecheck, eslint

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: none

add style to sidebar
  frontend/src/components/core/Sidebar/Sidebar.tsx
  frontend/src/components/core/Sidebar/SidebarNav.tsx
  frontend/src/components/core/Sidebar/styled-components.ts
  frontend/src/theme/primitives/sizes.ts
  frontend/src/theme/utils.ts
Due: prettier, typecheck, eslint

Upload to code artifactory instead of uploading to pypi.
  Makefile
Due: none

adjust style
  frontend/src/components/core/Sidebar/Sidebar.tsx
  frontend/src/components/core/Sidebar/SidebarNav.tsx
  frontend/src/components/core/Sidebar/styled-components.ts
  frontend/src/theme/primitives/sizes.ts
  frontend/src/theme/utils.ts
Due: prettier, typecheck, eslint

corresponding to mypy
  lib/streamlit/runtime/app_session.py
  lib/streamlit/source_util.py
Due: none

modify Sidebar,SidebarNav tests
  frontend/src/components/core/Sidebar/Sidebar.test.tsx
  frontend/src/components/core/Sidebar/SidebarNav.test.tsx
Due: prettier, typecheck, eslint

update SidebarNav.test
  frontend/src/components/core/Sidebar/SidebarNav.test.tsx
Due: prettier, typecheck, eslint

add download-artifacts step
  .github/workflows/cypress.yml
Due: none

Revert "update SidebarNav.test"
  frontend/src/components/core/Sidebar/SidebarNav.test.tsx
Due: prettier, typecheck, eslint

remove unsed variable
  frontend/src/components/core/Sidebar/styled-components.ts
Due: prettier, typecheck, eslint

update local version segments
  lib/setup.py
Due: none

Fixed React Hook useState is called conditionally error
  frontend/src/app/components/Sidebar/SidebarNav.tsx
Due: prettier, typecheck, eslint

update streamlit versioning
  lib/setup.py
Due: none

streamlit 1.31.1にバージョンアップ対応
  frontend/app/src/components/Sidebar/Sidebar.tsx
  frontend/app/src/components/Sidebar/SidebarNav.tsx
  frontend/app/src/components/Sidebar/styled-components.ts
  lib/setup.py
  lib/streamlit/runtime/app_session.py
  lib/streamlit/source_util.py
  proto/streamlit/proto/AppPage.proto
Due: prettier, typecheck

Sidebar.tsxのヘッダをイメージのみ残すバグ対応
  frontend/app/src/components/Sidebar/Sidebar.tsx
Due: prettier, typecheck

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
